.img-height {
  height: calc(100vh - 100px);
  object-fit: cover;
}
.img-400-cover {
  height: 400px;
  object-fit: cover;
}
.moment-height {
  height: 400px;
}
.img-clients {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
