.img-height {
  height: calc(100vh - 40px);
  object-fit: cover;
}
.img-400-cover {
  height: 400px;
  object-fit: cover;
}
.moment-height {
  height: 400px;
}
.img-clients {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.footer-img {
  width: 200px;
  height: 50px;
  display: block;
  margin: 18px 0;
  object-fit: cover;
}
